body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;

    background-color: whitesmoke;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.header img {
    object-fit: contain;
}




.card {
    gap: 16px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pokedex {
    background-color: rgba(168, 0, 0, 0.747);
    color: white;
    padding: 24px;
    border-radius: 67px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.pokedex:hover {
    background-color: rgba(168, 0, 0, 0.493);
    cursor: pointer;

}

.pokemonHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.pokemonName:first-letter {
    text-transform: capitalize;
}

.pokemonImage {
    width: 200px;
}

.stats {
    color: black;
}

.loadMore-btn {
    display: flex;
    justify-content: center;
}

.loadMore-btn button {
    display: flex;
    justify-content: center;
    margin: 24px;
    height: 42px;
    width: 144px;
    display: flex;
    align-items: center;
    border-radius: 67px;
    cursor: pointer;
    background-color: #EE4034;
    color: white;

}


.pokeCard-bg {
    background-color: rgba(155 153 153 / 54%);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeCard {
    width: 450px;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 50px;

}

.d-none {
    display: none;
}

.pokemonDetailInfoContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pokemonDetailInfoHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pokemonDetailInfoImg {
    display: flex;
    justify-content: center;
}

.pokemonDetailInfoOverview {
    background-color: aqua;
    border-radius: 50px;
    border-radius: 9px;
}

.pokemonDetailInfoOverviewHeader {
    display: flex;
    justify-content: space-evenly;

}

.statsDiv {}


/*  About Stats Moves */
.container {
    /* max-width: 400px; */
    margin: 30px auto;
}

.box {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.tab-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
}

/* tab list  */
.tab-list::before {
    content: '';
    display: block;
    height: 2px;
    width: 33.333%;
    position: absolute;
    bottom: 0;
    background-color: #aaa;
    transition: .3s;
}

.tab-item {
    flex: 1;
    text-align: center;
    transition: .3s;
    opacity: 0.5;
}

.tab-toggle {
    display: none;
}

.tab-content {
    display: none;
}

.tab-content-about-container {
    display: flex;
    gap: 80px;

}

.statsContentValues {
    display: flex;
    flex-direction: column;
}

.tab-content-about {
    display: flex;
    flex-direction: column;
}

.tab-toggle:nth-child(1):checked~.tab-list .tab-item:nth-child(1),
.tab-toggle:nth-child(2):checked~.tab-list .tab-item:nth-child(2),
.tab-toggle:nth-child(3):checked~.tab-list .tab-item:nth-child(3) {
    opacity: 1;
}

/* tab bar */
.tab-toggle:nth-child(2):checked~.tab-list::before {
    transform: translateX(100%);
}

.tab-toggle:nth-child(3):checked~.tab-list::before {
    transform: translateX(200%);
}


.tab-toggle:nth-child(1):checked~.tab-container .tab-content:nth-child(1),
.tab-toggle:nth-child(2):checked~.tab-container .tab-content:nth-child(2),
.tab-toggle:nth-child(3):checked~.tab-container .tab-content:nth-child(3) {
    display: block;
}

.tab-trigger {
    display: block;
    padding: 10px 0;
}

.tab-container {
    /* padding: 15px 30px; */
}

/*  About Stats Moves */


.moves {
    background-color: brown;
    padding: 11px 21px;
    border-radius: 20px;
    font-size: 20px;
}

.movesContainer{
    gap: 8px;
    display: flex;
    overflow-y: auto;
    height: 183px;
    flex-wrap: wrap;
    padding: 24px;
    justify-content: center;
}