body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    
    background-color: whitesmoke;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.header img {
    object-fit: contain;
}




.card {
    width: 280px;
    margin-top: 20px;
    margin-left: 20px;
}


#pokedex {
    background-color: rgba(168, 0, 0, 0.747);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 67px;
}


#pokemonImage {
    
    width: 200px;
}

.stats{
    color: black;
}